@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hidden {
  display: none;
}

header {
  background-color: rgb(255, 215, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
header div {
  display: flex;
  align-items: center;
  gap: 10px;
}
header img {
  width: 30px;
}
@media (min-width: 576px) {
  header {
    flex-direction: row;
  }
}
header h1 {
  font-size: 1.4rem;
}
@media (min-width: 1000px) {
  header h1 {
    font-size: 2rem;
  }
}

footer {
  background-color: rgb(255, 215, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
footer ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
}
footer ul li a {
  text-decoration: none;
}
footer ul li a .fa-brands,
footer ul li a .fa-solid {
  margin: 0;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul li a .fa-brands:hover, footer ul li a .fa-brands:hover,
footer ul li a .fa-solid:hover,
footer ul li a .fa-solid:hover {
  color: rgb(255, 215, 0);
  transform: scale(1.1);
  transition: 0.2s;
}
footer p {
  font-size: 0.8rem;
  font-weight: bold;
}
footer p span {
  color: red;
}

main {
  background-image: url("../img/fondo3.jpg");
  flex: 1;
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.container-cards {
  width: 90%;
  max-width: 1400px;
  display: grid;
  margin: auto;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
@media (min-width: 768px) {
  .container-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .container-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1400px) {
  .container-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
.container-cards .sin-datos {
  background-color: rgb(0, 0, 0);
  box-shadow: 2px 2px 10px gray, -2px -2px 10px gray;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding: 20px;
}
@media (min-width: 576px) {
  .container-cards .sin-datos {
    grid-column: 1/span 2;
  }
}
@media (min-width: 1000px) {
  .container-cards .sin-datos {
    grid-column: 2/span 2;
  }
}
.container-cards .sin-datos p {
  text-align: center;
}

header button {
  border-radius: 20px;
  padding: 5px 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
}
header button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 215, 0);
}

.card button {
  font-size: 0.7rem;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
}
.card button:hover {
  background-color: rgb(255, 215, 0);
  color: rgb(0, 0, 0);
}

.card-detalle .btn-editar-peli,
.card-detalle .btn-eliminar-peli {
  border-radius: 20px;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
}
.card-detalle .btn-editar-peli:hover,
.card-detalle .btn-eliminar-peli:hover {
  background-color: rgb(255, 215, 0);
  color: rgb(0, 0, 0);
}
.card-detalle .btn-editar-peli:hover,
.card-detalle .btn-eliminar-peli:hover {
  transform: scale(1.1);
}
.card-detalle .containerX button {
  padding: 1px 2px;
  font-weight: bold;
}

form button {
  border-radius: 20px;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
}
form button:hover {
  background-color: rgb(255, 215, 0);
  color: rgb(0, 0, 0);
}
form button:hover {
  transform: scale(1.1);
}

.modal button {
  border-radius: 20px;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
}
.modal button:hover {
  background-color: rgb(255, 215, 0);
  color: rgb(0, 0, 0);
}

.card {
  box-shadow: 2px 2px 10px gray, -2px -2px 10px gray;
  border-radius: 15px;
  color: white;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  aspect-ratio: 16/9;
}
.card:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.card .container-descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
  gap: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px 10px 13px 10px;
  border-top: 3px solid azure;
}
.card .container-descripcion h2 {
  width: 100%;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.card-detalle {
  padding: 10px 10px 30px 10px;
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px gray, -5px -5px 15px gray;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  gap: 10px;
  max-width: 95%;
}
@media (min-width: 576px) {
  .card-detalle {
    grid-column: 1/span 4;
    max-width: 650px;
    gap: 0px;
  }
}
.card-detalle .containerX {
  text-align: end;
}
.card-detalle h2 {
  text-align: center;
}
.card-detalle .container-detalle {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
@media (min-width: 576px) {
  .card-detalle .container-detalle {
    flex-direction: row;
    gap: 20px;
  }
}
.card-detalle .container-detalle img {
  border-radius: 15px;
  max-width: 250px;
  margin: auto;
}
.card-detalle .container-detalle div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  justify-content: space-between;
  padding-inline: 10px;
}
@media (min-width: 1000px) {
  .card-detalle .container-detalle {
    flex-direction: row;
  }
}
.card-detalle .container-detalle .container-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

body.abrir-modal-form {
  overflow: hidden;
}

.abrir-modal-form .modal-cover {
  display: block;
}

.abrir-modal-form .container-form {
  display: block;
}

.modal-cover {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.container-form {
  display: none;
  position: absolute;
  z-index: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 15px gray, -5px -5px 15px gray;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
}
.container-form form {
  color: rgb(255, 215, 0);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 576px) {
  .container-form form {
    gap: 20px;
  }
}
.container-form form .container-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
@media (min-width: 576px) {
  .container-form form .container-input {
    gap: 10px;
    flex-direction: row;
  }
}
.container-form form .container-input input,
.container-form form .container-input textarea {
  min-width: 280px;
  padding: 5px;
  flex: 1;
}
.container-form form .container-btn-form {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.container-filtros {
  display: flex;
  color: rgb(255, 255, 255);
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-items: center;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 215, 0);
  border-radius: 15px;
  padding: 15px;
  max-width: 90%;
}
@media (min-width: 576px) {
  .container-filtros {
    flex-direction: row;
    gap: 20px;
  }
}
.container-filtros form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 576px) {
  .container-filtros form {
    flex-direction: row;
  }
}
.container-filtros form select {
  border-radius: 15px;
  padding: 5px;
  width: 95px;
}
.container-filtros form .container-btn-reset {
  text-align: center;
}
.container-filtros form .container-select-filtros {
  display: flex;
  gap: 10px;
}

.container-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

body.abrir-modal-advertencia {
  overflow: hidden;
}

.abrir-modal-advertencia .modal-cover {
  display: block;
}

.abrir-modal-advertencia .container-modal-advertencia {
  display: block;
}

.container-modal-advertencia {
  color: white;
  display: none;
  position: absolute;
  z-index: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 15px gray, -5px -5px 15px gray;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
}
.container-modal-advertencia .modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 300px;
}
.container-modal-advertencia .modal p {
  text-align: center;
}
.container-modal-advertencia .modal div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/*# sourceMappingURL=style.css.map */
