main {
	background-image: url("../img/fondo3.jpg");
	flex: 1;
}

.container-cards {
	width: 90%;
	display: grid;
	margin: auto;
	padding-block: 30px;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	justify-items: center;
}
