header {
	button {
		@include style-button(
			$color-principal,
			$color-terciario,
			$color-principal,
			$color-secundario
		);
	}
}

.card {
	button {
		font-size: 0.7rem;
		@include style-button(
			$color-terciario,
			$color-principal,
			$color-secundario,
			$color-principal
		);
	}
}

.card-detalle {
	.btn-editar-peli,
	.btn-eliminar-peli {
		@include style-button(
			$color-terciario,
			$color-principal,
			$color-secundario,
			$color-principal
		);
		&:hover {
			transform: scale(1.1);
		}
	}
	.containerX {
		button {
			padding: 1px 2px;
			font-weight: bold;
		}
	}
}

form {
	button {
		@include style-button(
			$color-terciario,
			$color-principal,
			$color-secundario,
			$color-principal
		);
		&:hover {
			transform: scale(1.1);
		}
	}
}
