.container-form {
	position: fixed;
	z-index: 1;
	width: 80%;
	max-width: 500px;
	max-height: 60vh;
	overflow: auto;
	box-shadow: 5px 5px 15px gray, -5px -5px 15px gray;
	padding: 20px;
	background-color: $color-principal;
	border-radius: 15px;
	form {
		position: relative;
		color: $color-secundario;
		display: flex;
		flex-direction: column;
		gap: 20px;
		.container-input {
			display: flex;
			gap: 10px;
			align-items: center;
			input {
				width: 60%;
				padding: 5px;
				flex: 1;
			}
		}
		.container-btn-form {
			display: flex;
			gap: 10px;
			justify-content: center;
		}
	}
}

.container-form::-webkit-scrollbar {
	width: 6px;
}

.container-form::-webkit-scrollbar-track {
	background: transparent;
}

.container-form::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 4px;
}

.container-filtros {
	color: $color-terciario;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-items: center;
	background-color: $color-principal;
	border: 1px solid $color-secundario;
	border-radius: 15px;
	padding: 15px;
	max-width: 90%;
	@include breakpoint(xs) {
		flex-direction: row;
		gap: 20px;
	}
	form {
		display: flex;
		gap: 10px;
		@include breakpoint(sm) {
			gap: 20px;
		}
		select {
			border-radius: 15px;
			padding: 5px;
			width: 100px;
		}
	}
}
