//ESTILOS VENTANA MODAL FORM
body.abrir-modal-form {
	overflow: hidden;
}
.abrir-modal-form .modal-cover {
	display: block;
}

.abrir-modal-form .container-form {
	display: block;
}
.modal-cover {
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 200;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
}

//ESTILOS DE FORMULARIO AGREGAR O EDITAR PELI
.container-form {
	display: none;
	position: absolute;
	z-index: 500;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 5px 5px 15px gray, -5px -5px 15px gray;
	padding: 20px;
	background-color: $color-principal;
	border-radius: 15px;
	form {
		color: $color-secundario;
		display: flex;
		flex-direction: column;
		gap: 10px;
		@include breakpoint(xs) {
			gap: 20px;
		}
		.container-input {
			display: flex;
			flex-direction: column;
			gap: 5px;
			align-items: center;
			@include breakpoint(xs) {
				gap: 10px;
				flex-direction: row;
			}
			input,
			textarea {
				min-width: 280px;
				padding: 5px;
				flex: 1;
			}
		}
		.container-btn-form {
			display: flex;
			gap: 10px;
			justify-content: center;
		}
	}
}

//ESTILOS DE FORMULARIO DE FILTROS
.container-filtros {
	display: flex;
	color: $color-terciario;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-items: center;
	background-color: $color-principal;
	border: 1px solid $color-secundario;
	border-radius: 15px;
	padding: 15px;
	max-width: 90%;
	@include breakpoint(xs) {
		flex-direction: row;
		gap: 20px;
	}
	form {
		display: flex;
		gap: 20px;
		flex-direction: column;
		align-items: center;
		@include breakpoint(xs) {
			flex-direction: row;
		}
		select {
			border-radius: 15px;
			padding: 5px;
			width: 95px;
		}
		.container-btn-reset {
			text-align: center;
		}
		.container-select-filtros {
			display: flex;
			gap: 10px;
		}
	}
}
