form {
	width: 80%;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	box-shadow: 5px 5px 15px gray, -5px -5px 15px gray;
	background-color: $color-principal;
	border-radius: 15px;
}
